<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Litein High School</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-image: url("/images/hi.jpg");
        }
    </style>

</head>


<body background="~images/hi.jpg">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Litein High School", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="background-color:deepskyblue">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li style="background-color:deepskyblue">@Html.ActionLink("About", "About", "About")</li>
                    <li style="background-color:deepskyblue">@Html.ActionLink("Contact", "Contact", "Contact")</li>
                    <li style="background-color:deepskyblue">@Html.ActionLink("Students", "Students", "Students")</li>
                    <li style="background-color:deepskyblue">@Html.ActionLink("Tutors", "Tutors", "Tutors")</li>
                    <li style="background-color:deepskyblue">@Html.ActionLink("Examinations", "Examinations", "Examinations")</li>
                    <li style="background-color:deepskyblue">@Html.ActionLink("Login", "Login", "Login")</li>



                </ul>


            </div>

        </div>






    </div>
   

  

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Copyright Litein High School</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
